<html>
  <head>
    <title>
        Hyde Park Ultimate
    </title>
    <meta name="google-site-verification" content="kiHXwB1qYeATO6GmyV9Q6T8E9cA1-VJKmJ2CPY2sIF8" />
    <meta keywords="Hyde Park, Chicago IL, Ultimate Frisbee, Promontory Point">
    <script type="text/javascript">
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18218894-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</head>
  <body>

    {{ content }}

  </body>
</html>

